<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Hamburguesa</h1>
    <div style="display: flex;">
        <img src="https://img.freepik.com/foto-gratis/deliciosa-hamburguesa-queso_1232-503.jpg" alt="Hamburguesa">
        <div>
            <h4>Cuantas Quieres?</h4>
            <form action="/comidas/hamburguesa" method="post">
                <label for="numHamburguesa">Numero Hamburguesas: </label>
                <input type="number" name="numHamburguesa">
            </form>
        </div>
    </div>
</body>
</html>