*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #d3d3d3;
    text-align: center;
    line-height: 2rem;
    border-bottom: 1px solid black;
}

main{
    display: flex;
}

#section-videojuegos{
    width: 50%;
}

#tarjetas-juegos{
    display: flex;
    flex-direction: column;
    width: 50rem;
}

#tarjetas-juegos div{
    padding: 3rem;
    width:100%;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#tarjetas-comida{
    display: flex;
    flex-direction: column;
    width: 50rem;
}

#tarjetas-comida div{
    padding: 3rem;
    width:100%;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

img{
    width: 100%;
}