<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Destiny 2</h1>
    <h3>Has entrado al video juego destiny 2</h3>
    <img class="cover" src="https://img.zonared.com/images/caratulas/5800/5828-th1.jpg" alt="Destiny 2">
    <p>'Destiny 2' es la secuela de conocidísimo MMORPG de Activision y Bungie, el cual viene a dar continuación a los hechos ocurridos en su antecesor centrándose en la historia de los Guardianes, unos guerreros encargados de preservar el Universo de las amenazas que puedan suponer la destrucción más absoluta. En 'Destiny 2' los jugadores tendrán que enfrentar a la Legión Roja, una raza de invasores liderados por Ghaul. La llegada de estos guerreros ha supuesto la caída de La Torre, el bastión de los Guardianes en la Tierra y también la caída de La Ciudad, el que se suponía era el lugar más seguro de La Tierra. El juego ha confirmado su lanzamiento para el próximo 8 de septiembre y, al contrario que la primera entrega, esta sí llegará a PC, algo que ya pedían muchos jugadores anteriormente. 'Destiny 2' tendrá un total de 5 ediciones diferentes de compra que incluirán todo tipo de incentivos y regalos.</p>
    <br></br>
    <form action="/videojuegos/destiny2" method="post">
        <label for="jugador">Personaje Favorito: </label>
        <input type="text" name="jugador">
    </form>
</body>
</html>