<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rainbox 6</h1>
    <img src="https://img.asmedia.epimg.net/resizer/R2yGuktfnYJ5hehaFsIdTXnFzrU=/480x250/as01.epimg.net/meristation/imagenes/2020/06/09/header_image/48383421591728569.jpg" alt="Rainbow Six Siege" height="250" width="480" sizes="
    (min-width: 996px) 996px,
    (min-width: 768px) 680px,
    100vw" srcset="https://img.asmedia.epimg.net/resizer/R2yGuktfnYJ5hehaFsIdTXnFzrU=/480x250/as01.epimg.net/meristation/imagenes/2020/06/09/header_image/48383421591728569.jpg 480w,https://img.asmedia.epimg.net/resizer/oyEJ1YO3vxzYINPguzVAz-tYZN4=/680x340/as01.epimg.net/meristation/imagenes/2020/06/09/header_image/48383421591728569.jpg 680w,https://img.asmedia.epimg.net/resizer/bRg6wWAxnh5Aum-o6-46qXPg7S0=/996x340/as01.epimg.net/meristation/imagenes/2020/06/09/header_image/48383421591728569.jpg 996w,https://img.asmedia.epimg.net/resizer/QU0tF1uQzRyBKeA8Rnea9_tFbYA=/1360x680/as01.epimg.net/meristation/imagenes/2020/06/09/header_image/48383421591728569.jpg 1360w" loading="lazy">
    Rainbow Six Siege, desarrollado por Ubisoft Montreal y editado por Ubisoft para PC, PlayStation 4 y Xbox One, es un título de acción first person shooter en el que podremos tomar parte en arriesgadas operaciones antiterroristas en modalidades multijugador cooperativas y competitivas. Combates intensos y altamente letales en entornos cerrados, tácticas, juego en equipo, acción explosiva... son lo que define la experiencia de juego. El juego establece un nuevo referente en cuando a enfrentamientos de rango cercano y planteamiento estratégico, dentro del legado Tom Clancy's Rainbow Six.
</body>
</html>